In [18]:
import pandas as pd #importa a biblioteca pandas
import numpy as np #importa a biblioteca numpy
import matplotlib as plt #importa a biblioteca matplotlib

In [ ]:
#pip install pandas

In [ ]:
#pip install numpy

In [2]:
dados = pd.read_csv('imigrantes_canada.csv')

In [3]:
dados.tail() # exibe as 4 ultimas linhas

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
190,Vietnã,Ásia,Sudeste Asiático,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Saara Ocidental,África,Norte da África,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Iémen,Ásia,Ásia Ocidental,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985
193,Zâmbia,África,África Oriental,11,17,11,7,16,9,15,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbábue,África,África Oriental,72,114,102,44,32,29,43,...,615,454,663,611,508,494,434,437,407,8598

In [4]:
dados.info() # exibir as informações da base de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   País        195 non-null    object
 1   Continente  195 non-null    object
 2   Região      195 non-null    object
 3   1980        195 non-null    int64
 4   1981        195 non-null    int64
 5   1982        195 non-null    int64
 6   1983        195 non-null    int64
 7   1984        195 non-null    int64
 8   1985        195 non-null    int64
 9   1986        195 non-null    int64
 10  1987        195 non-null    int64
 11  1988        195 non-null    int64
 12  1989        195 non-null    int64
 13  1990        195 non-null    int64
 14  1991        195 non-null    int64
 15  1992        195 non-null    int64
 16  1993        195 non-null    int64
 17  1994        195 non-null    int64
 18  1995        195 non-null    int64
 19  1996        195 non-null    int64
 20  1997        195 non-null    int64
 21  1998        195 non-null    int64
 22  1999        195 non-null    int64
 23  2000        195 non-null    int64
 24  2001        195 non-null    int64
 25  2002        195 non-null    int64
 26  2003        195 non-null    int64
 27  2004        195 non-null    int64
 28  2005        195 non-null    int64
 29  2006        195 non-null    int64
 30  2007        195 non-null    int64
 31  2008        195 non-null    int64
 32  2009        195 non-null    int64
 33  2010        195 non-null    int64
 34  2011        195 non-null    int64
 35  2012        195 non-null    int64
 36  2013        195 non-null    int64
 37  Total       195 non-null    int64
dtypes: int64(35), object(3)
memory usage: 58.0+ KB

In [5]:
# seta o pais como index
dados.set_index(['País'], inplace=True) # sera a coluna País como index
anos = list(map(str,range(1980,2013))) # transforma os anos em string utilizando
# função map

In [ ]:
#pip install matplotlib

In [ ]:
print(anos) 
dados.tail(5)

In [12]:
brasil = dados.loc['Brasil',anos] # filtro para pegar os dados somente do Brasil
# dados.loc[coluna desejada]

In [13]:
brasil

1980     211
1981     220
1982     192
1983     139
1984     145
1985     130
1986     205
1987     244
1988     394
1989     650
1990     650
1991     877
1992    1066
1993     866
1994     566
1995     572
1996     586
1997     591
1998     531
1999     626
2000     845
2001     847
2002     745
2003     839
2004     917
2005     969
2006    1181
2007    1746
2008    2138
2009    2509
2010    2598
2011    1508
2012    1642
Name: Brasil, dtype: object

In [14]:
# criando um dicionario com os dados do brasil
brasil_dic= {
    'ano' : brasil.index.tolist(), # pega os anos
    'imigrantes' : brasil.values.tolist() # pega a quantidade de imigrantes
}

In [16]:
# criando dataframe para o Brasil
df_brasil = pd.DataFrame(brasil_dic)

In [17]:
df_brasil.head() #exibe os imigrantes do dataframe brasil

    ano  imigrantes
0  1980         211
1  1981         220
2  1982         192
3  1983         139
4  1984         145

In [20]:
# plotando o número de imigrantes do brasil para o Canadá
plt.plot(df_brasil['ano'],df_brasil['imigrantes']) # plota o gráfico
plt.xticks(['1980','1985','1990','1995','2000','2005','2010'], fontsize=14)
plt.yticks([500,1000,1500,2000,2500,3000], fontsize=14)
plt.xlabel("Anos", fontsize=14)
plt.title('Imigração do Brasil para o Canadá', fontsize=18)
plt.ylabel("Numero de imigrantes", fontsize=14)
plt.show()

AttributeError: module 'matplotlib' has no attribute 'plot'