In [1]:
import pandas as pd # importa a biblioteca pandas

In [3]:
df = pd.read_csv('Social_Network_Ads (1).csv',sep=',') # faz a importação da base de dados Social Network csv

In [5]:
df.head() # exibe as primeiras linhas do dataframe

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
# Criando um dicionário para substituir o nome de cada coluna
dicionario = {
    'User ID':'Usuario', 'Gender':'Genero',
    'Age':'Idade',
    'EstimatedSalary':'Salario Estimado',
    'Purchased':'Comprou'
}

In [7]:
df.rename(columns=dicionario, inplace=True) # renomeia as colunas

In [8]:
df.head()

    Usuario  Genero  Idade  Salario Estimado  Comprou
0  15624510    Male     19             19000        0
1  15810944    Male     35             20000        0
2  15668575  Female     26             43000        0
3  15603246  Female     27             57000        0
4  15804002    Male     19             76000        0

Importando as bibliotecas necessárias para realizar a análise de dados

In [9]:
import numpy as np #importa a biblioteca numpy
import matplotlib.pyplot as plt
from sklearn.svm import SVC #importa o algoritmo de svm
from sklearn.preprocessing import StandardScaler # biblioteca para normalizar os dados
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,f1_score # biblioteca para gerar as métricas
from matplotlib.colors import ListedColormap # biblioteca para alterar cor dos gráficos

Selecionando as colunas do dataframe

In [10]:
X = df.iloc[:, [2, 3]].values # pega os valores da primeira coluna até a coluna 3
y = df.iloc[:, -1].values # pega a saída do dataframe

In [12]:
#y

Normalizando dos dados com Stand Scaler

In [13]:
sc = StandardScaler() # biblioteca para normalizar os dados

Dividindo os dados em treino e teste

In [30]:
from sklearn.model_selection import train_test_split # biblioteca para dividir
# os dados em treino e teste

Dividindo os dados em treino e teste

In [31]:
X_treino,X_teste, y_treino, y_teste = train_test_split(X,y,test_size=0.3,
                                                       random_state=3)

In [32]:
# Normalizando os dados do X_treino e X_teste
X_treino = sc.fit_transform(X_treino)
X_teste = sc.fit_transform(X_teste)

In [33]:
# Criando o algoritmo de ML - Machine Learning SVM
algoritmo = SVC(kernel='linear',random_state=3)

In [34]:
# Treinando o algoritmo de Machine Learning
algoritmo.fit(X_treino,y_treino)

SVC(kernel='linear', random_state=3)

In [35]:
# Realizando as predições 
y_prev = algoritmo.predict(X_teste)

In [36]:
# Exibindo X_teste
X_teste

array([[ 0.88051148,  0.12484894],
       [ 0.98171969, -1.25765908],
       [ 2.19621829, -1.14480128],
       [-1.75090214, -0.58051229],
       [-1.04244462,  0.54806568],
       [ 0.27326218,  0.23770674],
       [ 1.38655256, -1.31408798],
       [-1.44727749, -0.60872674],
       [ 0.67809505, -0.86265679],
       [-1.04244462, -1.48337467],
       [ 0.3744704 , -0.27015335],
       [ 0.17205397, -0.77801344],
       [ 0.88051148,  0.51985123],
       [-0.2327789 , -0.4676545 ],
       [-1.14365284, -1.06015793],
       [-1.34606927, -1.42694577],
       [-0.73881998, -0.58051229],
       [-1.34606927,  0.40699343],
       [-0.03036246,  1.90235924],
       [ 0.27326218, -0.27015335],
       [-0.53640354,  0.46342233],
       [-0.33398711, -1.25765908],
       [-0.84002819,  0.29413563],
       [ 0.47567862, -0.12908111],
       [-0.43519533,  1.22521246],
       [-0.63761176, -0.32658225],
       [ 0.47567862, -0.43944005],
       [ 1.48776077,  2.26914708],
       [ 0.3744704 ,  0.26592118],
       [ 0.88051148, -1.31408798],
       [ 0.67809505,  1.95878814],
       [-0.94123641, -1.06015793],
       [ 0.47567862,  0.97128242],
       [ 0.88051148,  0.74556682],
       [-0.2327789 ,  0.51985123],
       [ 0.3744704 , -0.49586895],
       [-0.73881998,  1.05592576],
       [ 0.07084575, -0.2419389 ],
       [-0.2327789 ,  0.60449458],
       [-1.75090214,  0.35056453],
       [ 1.18413613,  2.01521704],
       [-1.04244462,  1.90235924],
       [-0.2327789 ,  2.18450374],
       [ 0.17205397, -0.77801344],
       [ 1.18413613, -1.17301573],
       [ 0.47567862,  0.01199114],
       [-1.85211035, -1.22944463],
       [ 0.77930326,  1.73307255],
       [-0.2327789 ,  0.15306339],
       [-1.24486106,  0.49163678],
       [-0.94123641, -0.4112256 ],
       [-0.84002819,  0.15306339],
       [-0.13157068, -0.27015335],
       [-1.04244462,  0.74556682],
       [ 0.98171969, -1.11658683],
       [ 0.3744704 ,  0.49163678],
       [-1.34606927, -0.4112256 ],
       [ 0.98171969,  0.99949687],
       [-0.63761176, -1.53980357],
       [ 0.27326218, -0.12908111],
       [-0.73881998, -1.48337467],
       [ 1.48776077, -0.89087124],
       [ 1.08292791,  2.01521704],
       [-0.2327789 ,  0.09663449],
       [-0.2327789 , -0.2983678 ],
       [-0.03036246,  0.26592118],
       [ 0.98171969, -0.74979899],
       [ 2.2974265 , -0.77801344],
       [-0.63761176, -0.10086666],
       [ 1.79138542,  1.56378585],
       [-1.64969392,  0.06842004],
       [ 1.58896899, -1.00372903],
       [-0.73881998, -0.21372445],
       [-0.2327789 , -1.31408798],
       [ 0.17205397,  0.20949229],
       [-0.2327789 , -0.55229784],
       [-1.14365284,  0.29413563],
       [ 0.27326218, -0.3547967 ],
       [-0.53640354, -1.45516022],
       [-0.94123641,  0.54806568],
       [ 1.58896899,  2.07164594],
       [-0.2327789 ,  0.06842004],
       [ 0.47567862,  2.24093263],
       [ 0.77930326, -1.34230242],
       [ 0.98171969, -0.5240834 ],
       [ 0.47567862,  0.29413563],
       [ 0.17205397,  1.02771132],
       [ 0.07084575, -0.2983678 ],
       [ 0.3744704 , -0.18551   ],
       [-0.13157068, -0.55229784],
       [-0.53640354,  1.33807026],
       [-1.34606927, -1.06015793],
       [-1.14365284,  0.06842004],
       [ 0.98171969,  2.09986039],
       [ 1.08292791, -1.03194348],
       [ 1.08292791,  1.73307255],
       [-0.73881998,  0.29413563],
       [ 2.19621829,  0.18127784],
       [ 0.88051148, -0.80622789],
       [-1.04244462, -0.32658225],
       [-0.33398711,  1.19699801],
       [-1.95331857,  0.35056453],
       [-1.04244462, -0.43944005],
       [-1.24486106,  0.26592118],
       [ 2.09501007, -1.31408798],
       [-0.53640354,  1.84593034],
       [-1.14365284, -1.48337467],
       [ 0.47567862,  1.08414021],
       [-0.63761176,  0.12484894],
       [ 0.88051148, -1.34230242],
       [ 0.27326218, -0.63694119],
       [ 2.2974265 ,  0.37877898],
       [-0.94123641, -0.2983678 ],
       [-1.75090214, -0.94730013],
       [-0.33398711, -0.74979899],
       [ 0.98171969, -1.39873132],
       [ 0.3744704 ,  0.29413563],
       [-1.44727749,  0.35056453],
       [ 0.47567862,  0.29413563],
       [ 0.88051148,  0.35056453]])