Objetivo Classificar os emails recebidos como spam ou não

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dadosspam.csv') # importa base de dados

In [3]:
df.head()

   frequencia_palavras  presenca_links  num_anexos  comprimento_email  spam
0                    6               0           1                793     0
1                    3               0           1                698     0
2                    7               1           1                455     1
3                    4               1           1                810     0
4                    6               0           3                620     1

Separar os dados

In [4]:
X = df.drop('spam',axis=1) # exclui a coluna spam e armazena as outras colunas em axis =1
y = df['spam'] # armazena os dados da coluna spam

In [5]:
X

     frequencia_palavras  presenca_links  num_anexos  comprimento_email
0                      6               0           1                793
1                      3               0           1                698
2                      7               1           1                455
3                      4               1           1                810
4                      6               0           3                620
..                   ...             ...         ...                ...
995                    9               1           3                313
996                    9               1           0                228
997                    7               0           1                362
998                    1               1           3                107
999                    8               1           2                837

[1000 rows x 4 columns]

In [6]:
y

0      0
1      0
2      1
3      0
4      1
      ..
995    1
996    0
997    0
998    1
999    1
Name: spam, Length: 1000, dtype: int64